:root {
  box-sizing: border-box;

  --body-font: 'Roboto', sans-serif;

  --body-color: #621402;
  --text-color: #fff;
  --btn-color: #FE8E05;
  --btn-color-alt: #d3790d;

  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --smaller-font-size: 0.875rem;

  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --black-font-weight: 900;
}




/* ============== GOOGLE FONTS ================ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


/* ============== BASE ================ */
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* ============== HEADER ================ */

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  margin-bottom: 4rem;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('../img/bg.jpg') no-repeat center top / cover;
}


/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.logo {
  display: inline-flex;
}

.nav {
  margin-left: 57px;
}

.nav__list {
  display: flex;
}

.nav__item+.nav__item {
  margin-left: 10px;
}

.nav__link {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  line-height: 1.15;
}

.user {
  display: flex;
  align-items: center;
  column-gap: 11px;
  margin-left: auto;
}

.user__avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}


/* FILM */

.film {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
}

.film__title-small {
  font-size: var(--h2-font-size);
  opacity: .5;
  margin-bottom: 11px;
}

.film__title {
  font-size: var(--h1-font-size);
  line-height: 1.18;
  margin: 0 0 1.5rem;
}

.film__description {
  max-width: 570px;
  margin-bottom: 50px;
}

.film__trailer {
  margin: auto;
}

.film__details {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.time {
  display: flex;
  align-items: center;
}

.time__icon {
  margin-right: 14px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating__icon {
  margin-right: 12px;
}

.rating__current {
  font-size: var(--h2-font-size);
}

/* SESSION */

.session {
  padding-top: 46px;
  padding-bottom: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.session__label {
  display: block;
  margin-bottom: 20px;
}

.session__block {
  display: flex;
}

.session__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  transition: .2s linear;
  cursor: pointer;
}

.session__item-active,
.session__item:hover {
  background: #FE8E05;
  color: var(--body-color);
}

.session__item+.session__item {
  margin-left: 15px;
}

.session__month {
  text-transform: uppercase;
  line-height: 1.2;
}

.session__day {
  font-weight: var(--black-font-weight);
  font-size: 1.875rem;
  line-height: 1.17;
}

.session__week {
  font-size: 1.1875rem;
  line-height: 1.375;
  text-transform: uppercase;
}

.select {
  padding: 18px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.select-cinema {
  min-width: 470px;
}

/* =============== SCHEME =============== */
.scheme {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
}

.scheme-svg path:not(.light) {
  fill: rgba(255, 255, 255, .2);
  cursor: pointer;
}

.scheme-svg path:not(.light):hover {
  fill: rgba(255, 255, 255, .5);
}

.scheme path.booked,
.scheme path.booked:hover {
  fill: rgba(255, 255, 255, .05);
  cursor: not-allowed;
}

.scheme path.active,
.scheme path.active:hover {
  fill: #FE8E05;
}

.legend path.free {
  fill: rgba(255, 255, 255, .2);
  cursor: pointer;
}

.legend path.active,
.legend path.active:hover {
  fill: #FE8E05;
}

.legend {
  display: flex;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 1.4rem;
  padding-bottom: 2.4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.legend__label {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  color: rgba(255, 255, 255, .5);
}

.legend__label+.legend__label {
  margin-left: 2rem;
}

/* =============== PRICE =============== */
.price {
  padding-top: 4rem;  
  padding-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price__label {
  display: block;
  font-size: 1.125rem;
  line-height: 1.3125;
}

.price__total, .price__currency {
  font-size: 3.25rem;
  line-height: 1.17;  
}

.btn {
  background-color: var(--btn-color);
  border-radius: 5px;
  color: #fff;
  padding: 1.5rem 3.25rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  transition: 1s;
}

.btn:hover {
  background-color: var(--btn-color-alt);
}